
.header-cont {
    width: 100%;
    height: 35px;
}

.header-text_left,
.header-text_right {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}
.header-text-history-not{
    padding-top: 10px;
    font-size: 15px;
    color: white;
    display: block;
    text-align: center;
    font-weight: 600;
}

.header-text_left {
    font-weight: 600;
    margin-left: 20px;
}

.header-text_right {
    float: right;
    margin-right: 20px;
}

.filters-operartion-nots {
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid rgb(121, 121, 121);
    border-left: none;
    border-right: none;
    flex-wrap: nowrap;
}

.display-act-filters_count-one_adaptiv-type-small {
    display: flex;
    align-items: center;
    margin-left: 39.3%;
    margin-right: 28%;
}
.display-act-filters_count-one_adaptiv-type-big{
    display: block;
    margin-left: 35.9%;
    margin-right: 28%;
}

.display-act-filters_count-two {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    justify-content: space-between;
}

.display-act-filters_count-three {
    display: flex;
    flex-wrap: nowrap;
    width: 65%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

.act-filter_sender-ss {
    margin-top: 8.5px;
    width: 110px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 10s ease-out;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.565);
}

.act-filter_admin,
.act-filter_couriers {
    margin-top: 8.5px;
    width: 90px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.565);
}

.text-attributes-filter_anim-true{
    font-size: 14px;
    margin-top: 4px;
}

.act-filter_sender-ss:hover,
.act-filter_admin:hover,
.act-filter_couriers:hover{
    animation-name: tada;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.text-attributes-filter_anim-true{
    animation-name: tada;
    animation-duration: 1.25s;
    animation-iteration-count: 1;
}

.text-act-not {
    font-size: 12.5px;
    margin-left: 12px;
}

.img-hide-filter-act {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.filters-btns_filter-count-true{
    display: flex;
    flex-wrap: nowrap;
    border-left: 1px solid rgb(121, 121, 121);
    height: 100%;
}
.filters-btns_filter-count-false{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 480px;
    border-left: 1px solid rgb(121, 121, 121);
    height: 100%;
}

.filter-btn_type-remove-all-filters,
.filter-btn_type-add-filter {
    width: 47.5px;
    cursor: pointer;
}

.filter-btn_type-add-filter:hover,
.filter-btn_type-remove-all-filters:hover {
    background-color: rgba(39, 43, 49, .5);
}

.icons-manage-filters {
    display: block;
    margin-left: 11px;
    margin-top: 9px;
    width: 25px;
    height: 25px;
}


[data-title] {
    position: relative;
}

.filter-btn_type-remove-all-filters[data-title]::after {
    content: attr(data-title);
    position: absolute;
    opacity: 0;
    margin-left: -90px;
    margin-top: 17.5px;
    transition: 0.6s;
    pointer-events: none;
    background: white;
    color: rgb(79, 78, 78);
    padding: 0.5em;
    width: 117px;
    height: 30px;
    font-size: 12px;
    text-align: end;
}
.filter-btn_type-add-filter[data-title]::after {
    content: attr(data-title);
    position: absolute;
    opacity: 0;
    margin-left: -45px;
    margin-top: 17.5px;
    transition: 0.6s;
    pointer-events: none;
    background: white;
    color: rgb(79, 78, 78);
    padding: 0.5em;
    width: 90px;
    height: 15px;
    font-size: 12px;
    text-align: end;
}
[data-title]:hover::after {
    opacity: 1;
}
.cont-add-attribs-senders-nots-filter {
    position: absolute;
    display: flex;
    width: 150px;
    height: 83px;
    margin-left: -103px;
    margin-top: 45px;
    transition: margin-bottom 0.1s ease;
    background-color: white;
    flex-direction: column;
    color: black;
}
.text-attributes-filter{
    font-size: 14px;
    margin-top: 4px;
}
.attributes-filters{
    margin-top: 3.5px;
}
.items-filters-null,
.notifications-null{
    display: block;
    margin-top: 200px;
    text-align: center;
}
.text-one-filters-null_action,
.text-two-filters-null,
.text-notifications-null{
    color: white;
    font-size: 18px;
}
.open-cont-add-attr:hover{
    text-decoration: underline;
    text-decoration-color: orange;
    cursor: pointer;
}
.attributes-filters li{
    text-align: center;
    list-style-type: none;
    height: 25px;
}
.attr-actions-type-one_type-nots-true{
    background-color: rgba(39, 43, 49, .5);
}
.attr-actions-type-two_type-nots-true{
    background-color: rgba(39, 43, 49, .5);
}
.attr-actions-type-three_type-nots-true{
    background-color: rgba(39, 43, 49, .5);
}

.attr-actions-type-one:hover,
.attr-actions-type-two:hover,
.attr-actions-type-three:hover{
    background-color: rgba(39, 43, 49, .5);
}
.attr-actions-type-one,
.attr-actions-type-two{
    border-bottom: 1px solid rgb(121, 121, 121);
}
.attr-actions-type{
    align-items: center;
}
.type-filter-nots-user{
    margin-left: 5px;
}
.history-nots{
    width: 100%;
    height: 454px;
    border-bottom: 1px solid rgb(121, 121, 121); 
}
.history-nots_false{
    width: 100%;
    height: 333px;
}
.user-notification_history-cont{
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgb(121, 121, 121); 
}
.user-notification-history_sender{
    width: 550px;
    height: 100%;
    margin-left: 13px;
    display: flex;
    flex-wrap: nowrap;
}
.actions-not_history{
    position: absolute;
    width: 20px;
    height: 30px;
    margin-top: 0px;
    margin-left: 530px;
    opacity: 0;
}
.user-notification_history-cont:hover .actions-not_history{
    opacity: 1;
}
.nots-action_history {
    position: absolute;
    display: none;
    margin-left: 437.5px;
    margin-top: 32.5px; 
    width: 115px;
    height: 48px;
    border-radius: 3px;
    background-color: white;
}
.nots-action_history:hover {
    display: block; 
}
.actions-not_history:hover + .nots-action_history{
    display: block;
}
.text-notification_sender-supp-serv_history{
    color: white;
    font-size: 12.5px;
    margin-top: 10px;
    width: 97.5%;
}
.date-notification_history{
    color: white;
    font-size: 12.5px;
    margin-top: 25px;
}
.display-history-notifications:hover{
    background-color: rgba(39, 43, 49, .5);
    cursor: pointer;
}
.img-action-not_history{
    position: absolute;
    width: 11px;
    height: 11px;
    margin-left: 4px;
    margin-top: 12.5px;
}

.footer-cont-pager-items{
    display: flex;
    flex-wrap: nowrap;
    width: 92%;
    margin-left: 4%;
    padding-top: 20px;
}
.pager-cont{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: default;
}
.pager-cont-ii{
    width: 60px;
    height: 60px;
    cursor: default;
}
.pager-cont-start{
    width: 105px;
    height: 100px;
    cursor: default;
}
.pager-cont_choosen{
    border-radius: 50%;
    width: 30px;
    background-color: rgb(255, 255, 255, 0.08);
    height: 30px;
}
.pager-cont:hover{
    background-color: rgb(255, 255, 255, 0.08);
    cursor: default;
}
.count-1{
    margin-left: 0px;
}
.count-2,
.count-3,
.count-4,
.count-5,
.count-6,
.count-7,
.count-8,
.count-9,
.count-10,
.list-item_type-next,
.text-list-item-pager{
    margin-left: 30px;
}
.text-list-item-pager{
    color: white;
    font-size: 14px;
    position: absolute;
    margin-top: 5px;
    margin-left: 12.5px;
    font-weight: 600;
}