.acc-icon-info-user{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid black;
    width: 65px;
    height: 65px;
}
.photo-user-acc-info-acc{
    display: absolute;
    margin-top: 0px;
    width: 65px;
    height: 65px;
}
#upload-btn {
    display: none;
}
  
.upload-label {
  position: absolute;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  margin-top: 38.5px;
  margin-left: -13px;
  cursor: pointer;
  border-radius: 16px;
}
  
.change-photo-info-user-acc{
    position: absolute;
    margin-top: 4px;
    margin-left: -8px;
    width: 15px;
    height: 15px; 
}