header {
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.navbar{
    display: flex;
    margin-left: 175px;
    margin-right: 130px;
}
.nav-links{
    display: flex;
}
.name-site {
    display: block;
    margin-left: 250px;
}
.page-line-header{
    align-items: center;
}
.span-home-page-header a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.home-page-logo-site{
    display: block;
    margin-top: 0px;
    margin-left: -12.5px;
    width: 75px;
    height: 75px;
    border-radius: 0px;
}

.navbar-link-1-desc-show_false {
    color: black;
    text-decoration: none;
    margin-left: -97.5px;
}
  
.navbar-link-2-desc-show_false {
    color: black;
    text-decoration: none;
    margin-left: 35px;
}
.navbar-link-3-desc-show_false {
    color: black;
    text-decoration: none;
    margin-left: 35px;
}

.navbar-link-1-desc-show_true {
    color: black;
    text-decoration: none;
    margin-left: -120px;
}
  
.navbar-link-2-desc-show_true {
    color: black;
    text-decoration: none;
    margin-left: 35px;
}
.navbar-link-3-desc-show_true {
    color: black;
    text-decoration: none;
    margin-left: 35px;
}
.navbar-link-4-desc-show_true{
    color: black;
    text-decoration: none;
    margin-left: 35px;
    margin-right: -100px;
}


.navbar-link-1_color-gray {
    color: gray;
    text-decoration: none;
    margin-left: -120px;
}
  
.navbar-link-2_color-gray {
    color: gray;
    text-decoration: none;
    margin-left: 35px;
}
.navbar-link-3_color-gray {
    color: gray;
    text-decoration: none;
    margin-left: 35px;
}
.navbar-link-4_color-gray{
    color: gray;
    text-decoration: none;
    margin-left: 35px;
    margin-right: -100px;
}

.sticky {
    position: fixed;
    background-color: white;
    margin-top: 0px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 80px;
}

.sticky-header-underline{
    position: fixed;
    height: 80px;
    border: 1.5px solid rgb(156, 156, 156);
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
