.form-add-gender-user,
.form-change-gender-user{
    width: 80%;
    margin-left: 10%;
}
.text-add-gender,
.text-change-gender{
    margin-top: 10px;
    display: block;
    font-size: 26px;
    font-weight: bold;
}
.select-input-add-gender-user,
.select-input-change-gender-user{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 35px;
    color: gray;
    border-color: gray;
    background-color: white;
    border-radius: 8px;
}
.select-input-add-gender-user_error-input,
.select-input-change-gender-user_error-input{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 35px;
    color: gray;
    border-color: red;
    background-color: white;
    border-radius: 8px;
}
.select-input-add-gender-user:focus{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 35px;
    color: gray;
    border-color: gray;
    background-color: white;
    border-radius: 8px;
}
.select-input-change-gender-user:focus{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 35px;
    color: gray;
    border-color: gray;
    background-color: white;
    border-radius: 8px;
}
.button-save-result-gender-user,
.button-change-result-gender-user{
    width: 326px;
    height: 50px;
    margin-left: 0px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 19.5px;
}
.button-save-result-gender-user:hover{
    width: 326px;
    height: 50px;
    margin-left: 0px;
    border-radius: 8px;
    border-color: black;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
}
.button-change-result-gender-user:hover{
    width: 326px;
    height: 50px;
    margin-left: 0px;
    border-radius: 8px;
    border-color: black;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
}