.home-page-acc-header-right-icon-acc{
    width: 100px;
    margin-left: -20px;
    display: inline-block;
    align-items: center;
}
.account-icon-user-acc-setings-page{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 375px;
    margin-top: 5px;
}
.button-acc-link{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 0px;
}

.name-user-acc{
    display: block;
    margin-left: 157.5px;
    font-size: 12px;
    color: black;
    font-weight: 500;
}

.button-home-page-heaeder-log-out-acc{
    display: block;
    height: 30px;
    width: 100px;
    background-color:  white;
    border: solid 1px gray;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    text-align: center;
    margin-left: 20px;
    font-weight: 500;
}




.button-home-page-header-button-registration-acc{
    margin-top: 5px;
    margin-left: -10px;
    height: 30px;
    width: 80px;
    background-color: black;
    border-color: black;
    border-radius: 6px;
}

.link-register-header-home-page {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin: 5px auto auto 5px;
}

.button-home-page-header-button-sign-in-acc{
    margin-top: 5px;
    height: 30px;
    width: 80px;
    background-color:  white;
    border: solid 1px gray;
    border-radius: 6px;
    margin-left: 30px;
}

.link-sign-in-header-home-page{
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin: 5px auto auto 10px;
}

.button-home-page-header-button-sign-in-acc:hover,
.button-home-page-heaeder-log-out-acc:hover{
    background-color: rgb(235, 234, 234);
};


.nav-info-acc-user{
    margin-top: 100px;
}

.nav-acc-user-acc-setings-page{
    position: absolute;
    width: 300px;
    margin-top: 40px;
    margin-left: 18.5px;
    height: 330px;
    border-radius: 0px;
    border: 1px solid rgb(167, 167, 167);
    background-color: rgb(167, 167, 167);
}

.header-nav-acc-user{
    display: block;
    margin-top: 10px;
}

.text-email-user{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.button-hide-nav-info-acc-user{
    position: absolute;
    margin-left: 265px;
    border-radius: 16px;
    margin-top: -20px;
    width: 20px;
    height: 20px;
}
.button-hide-nav-info-acc-user:hover{
    background-color: rgb(214, 212, 212);
}
.main-nav-acc-user{
    display: block;
    margin-top: 30px;
    text-align: center;
}
.text-user-name{
    display: block;
    text-align: center;
    margin-top: 5px;
}
.button-account-management{
    display: block;
    width: 165px;
    margin-top: 5px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 16px;
    color: black;
    margin-left: 70px;
}
.button-account-management:hover{
    background-color: black;
    color:white;
    font-weight: 500;
}

.footer-button-acc-user{
    margin-left: 0px;
    display: inline-flex;
    margin-top: 12.5px;
}
.button-account-add-courier{
    border-radius: 45% 0% 0% 45%;
    border-color: white;
    border: none;
    margin-left: 15px;
    height: 50px;
    width: 130px;
}
.nav-text-add-courier{
    position: absolute;
    margin-top: -15px;
    margin-left: 32.5px;
    color: black;
    text-decoration: none;
}
.img-add-courier{
    position: absolute;
    margin-top: -11.5px;
    margin-left: -50px;
    width: 22.5px;
    height: 22.5px;
}
.button-account-log-out{
    border-radius: 0% 45% 45% 0%;
    border-color: white;
    border: none;
    margin-left: 10px;
    height: 50px;
    width: 130px;
}
.img-log-out-acc-user{
    position: absolute;
    margin-top: -10px;
    margin-left: -52.5px;
    width: 19.5px;
    height: 19.5px;
}
.nav-text-log-out-acc-user{
    position: absolute;
    margin-top: -8.5px;
    margin-left: 28.5px;
    color: black;
    text-decoration: none;
}
.button-account-add-courier:hover{
    background-color: rgb(178, 178, 178);
}
.button-account-log-out:hover{
    background-color: rgb(178, 178, 178);
}
.nav-text-terms-cooperation,
.nav-text-choose-courier{
    display: block;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}
.nav-text-choose-courier{
    margin-top: 12.5px;
}
.footer-links-seperation{
    margin-top: 0px;
    margin-bottom: 3px;
    display: block;
    text-align: center;
}

