header {
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.navbar{
    display: flex;
    margin-left: 175px;
    margin-right: 130px;
}
.nav-links{
    display: flex;
}
.name-site-user-acc-page {
    display: block;
    margin-left: 162px;
}
.page-line-header{
    align-items: center;
}
.span-home-page-header a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.form-user-acc-setings-logo-site{
    display: block;
    margin-top: 0px;
    margin-left: 77px;
    width: 75px;
    height: 75px;
    border-radius: 0px;
}
.navbar-link-user-acc-setings-page-1 {
    color: black;
    text-decoration: none;
    margin-left: -120px;
}
  
.navbar-link-user-acc-setings-page-2 {
    color: black;
    text-decoration: none;
    margin-left: 35px;
}
.navbar-link-user-acc-setings-page-3 {
    color: black;
    text-decoration: none;
    margin-left: 35px;
}
.navbar-link-user-acc-setings-page-4{
    color: black;
    text-decoration: none;
    margin-left: 35px;
}


.sticky {
    position: fixed;
    background-color: white;
    margin-top: 0px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 80px;
}

.sticky-header-underline{
    position: fixed;
    height: 80px;
    border: 1.5px solid rgb(156, 156, 156);
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
