/* .ll{
    display: inline-flex;
} */
.redirect-pages{
    display: inline-block;
    margin-top: 10px;
    margin-left: 255.5px;
}
.span-redirect-page_home-1{
    font-size: 15px;
    color: black
}
.span-redirect-page-2{
    font-size: 15px;
    margin-left: 5px;
    color: black;
    text-decoration: none;
}
.page-line-left-content-asside_asside-and-name-site{
    position: absolute;
    margin-left: 250px;
    width: 300px;
    margin-top: 50px;
}
.asside-nav-description-in-main-page_state-1{
    display: block;
    float: left;
    margin-top: 30px;
}
.asside-nav-description-in-main-page_state-2{
    display: block;
    float: left;
    margin-top: 950px;
}
.asside-nav-description-in-main-page_state-3{
    display: block;
    float: left;
    margin-top: 875px;
}
.asside-nav-description-in-main-page_fix-state{
    position: fixed;
    margin-left: 0px;
    width: 100%;
    z-index: 999;
    height: 80px;
    width: 300px;
}
.span-large-text{
    display: block;
    float: left;
    font-size: 42px;
    color: black;
    font-weight: bold;   
}
.nav-discription{
    width: 300px;
    height: 234px;
    background-color: rgb(79, 78, 78);   
}
.spans-description-line{
    width: 100%;
    margin-left: 0%;
}
.span-description-1{
    display: block;
    height: 58.5px;
}
.span-description-2,
.span-description-3,
.span-description-4{
    display: block;
    height: 58.5px;
}
.span-text-description-1,
.span-text-description-2,
.span-text-description-3,
.span-text-description-4{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    text-decoration: none;
    width: 300px;
    width: 100%;
    color: white;
    font-size: 24px;
}
.span-text-description-1_margin-left,
.span-text-description-2_margin-left,
.span-text-description-3_margin-left,
.span-text-description-4_margin-left{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 24px;
}
.ponter-descriptions{
    position: absolute;
    margin-left: 0px;
    background-color: rgb(234, 152, 0);
    width: 6px;
    height: 58.5px;
}


.main-content-user-acc-setings-page{
    margin-left: 650px;
    margin-top: 135.5px;
    width: 580px;
}

.span-name-discription-large-text{
    display: block;
    font-size: 32px;
    color: black;
    font-weight: bold;
}
.my-information-content-attributes-discription,
.account-content-attributes-discription{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.attribute-name-1,
.attribute-name-2,
.attribute-name-3,
.attribute-name-4{
    display: block;
    font-size: 16px;
    color: gray;
    margin-bottom: 5px;
}
.attribute-discription-2,
.attribute-discription-3,
.attribute-discription-4{
    margin-top: 20px;
}
.add-button{
    font-size: 21.5px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
.change-button{
    display: inline-block;
    font-size: 21.5px;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: underline;
}
.span-name-user,
.span-date-birth-user,
.span-gender-user,
.span-location-user,
.span-password-user,
.span-phone-number-user,
.span-email-user{
    font-size: 20px;
}

.attribute-name-selected-couriers_false{
    display: block;
    font-size: 16px;
    color: gray;
    margin-top: 30px;   
}
.button-redirect-choose-courier{
    display: block;
    width: 170px;
    height: 40px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 0px;
    background-color: white;
    border-color: black;
    margin-bottom: 40px;
}
.button-redirect-choose-courier:hover{
    display: block;
    width: 170px;
    height: 40px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 0px;
    background-color: black;
    border-color: black;
    margin-bottom: 40px;
}
.text-warning-deleting-acc-1{
    margin-top: 30px;
    color: gray;
    width: 100%;
    margin-bottom: 30px;
}
.button-delete-acc{
    width: 170px;
    height: 40px;
    margin-left: 0px;
    font-weight: 600;
    font-size: 16px;
}
.button-delete-acc:hover{
    width: 170px;
    height: 40px;
    margin-left: 0px;
    font-weight: 600;
    background-color: red;
    border-color: red;
    color: white;
    font-size: 16px;
}
.text-warning-deleting-acc-2{
    margin-top: 30px;
    color: gray;
    width: 100%;
}
.footer-user-acc-setings{
    width: 100%;
    height: 350px;
    background-color: rgb(56, 56, 56);
}
.footer-page-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 72%;
    margin-left: 17%;
    align-items: center;
}
.footer-nav_left{
    vertical-align: baseline;
}
.list-pages{
    list-style: none;
    text-align: start;
}
.list-pages a{
    color: white;
    text-decoration: none;
}
.list-pages-2,
.list-pages-3,
.list-pages-4{
    margin-top: 22.5px;
}

.footer-logo_center{
    text-align: center;
    flex-grow: 100;
}
.footer-logo{
    width: 70px;
    height: 70px;
    margin-top: -40.5px;
    border-radius: 0px;
}
.insturction-error-site{
    position: absolute;
    display: block;
    text-align: center;
    margin-left: 197.5px;
    font-size: 12px;
    margin-top: 0px;
}
.footer-nav_right{
    margin-left: 0px;
    text-align: left;
    flex-grow: 1;
}
.footer-copyright_right{
    list-style: none;
    text-align: left;
}
.footer-copyright_right a{
    color: white;
    text-decoration: none;
}
.soc-sup-icons{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 21px;
    margin-top: 10px;
}
.soc-2{
    margin-left: 40px;
}
.soc-1,
.soc-2{
    cursor: pointer;
}
.img-icon-telegram,
.img-icon-vkontakte{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 0px;
}
.img-icon-telegram{
    margin-top: 0px;
    margin-left: -21px;
}
.img-icon-vkontakte{
    margin-top: 0px;
    margin-left: -21px;
}
.text-soc{
    margin-top: -5px;
    margin-left: 10px;
    font-size: 12px;
}
.footer-list-text-copyright_right-3,
.footer-list-text-copyright_right-4,
.footer-list-text-copyright_right-5{
    margin-top: 22.5px;
    font-size: 12px;
    width: 260px;
    text-align: left;
}

